<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% if (!_.isEmpty(users)) { %>
        <% _.each(users, function (us3r) { %> 
            <tr>
                <td><%= us3r.name.full %></td>
                <td><%= us3r.local.email %></td>
                <td><button type="button" class="btn btn-default btn-sm btn-add-user"
                        data-url="/admin/courses/<%= course.id %>/teaching-assistants/<%= us3r.id %>">Add</button></td>
            </tr>
        <% }) %>
    <% } else { %>
        <tr><td colspan="3">No results were found matching query.</td></tr>
    <% } %>
    </tbody>
</table>