<% if (!_.isEmpty(failure)) { %>
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert">&times;</a><%- failure %>
    </div>
<% } %>

<% if (!_.isEmpty(success)) { %>
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert">&times;</a><%- success %>
    </div>
<% } %>