<%- include ./header -%>


<h2>Error</h2>
<h4>Description</h4>
<pre><%= error.message %></pre>
<% if (error.stack) { %>
    <h4>Stack trace</h4>
    <pre><%= error.stack %></pre>
<% } %>
<a href="#" class="btn btn-default" onclick="history.back(); return false;"><span class="fa fa-home"></span> Back</a>

<%- include ./footer -%>