        </div>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/lodash/lodash.js"></script>
        <script type="text/javascript" src="/js/function.js"></script>
    </body>
</html>