body {
    margin-bottom: 100px;
}
body > .navbar {
    border-radius: 0px;
}
pre {
    background: #f5f5f5;
    display: block;
    margin: 0;
    padding: 0;
}
pre code {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    height: auto;
    padding: 5px;
    white-space: inherit;
}
/**
 * Alert
 */
.alert {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    overflow: hidden;
}
.alert ul {
    padding-left: 15px;
}
.alert li {
    font-weight: bold;
}
/**
 * Breadcrumbs
 */
.breadcrumb > li {
    font-size: 12px;
}
/**
 * Buttons
 */
.btn-default {
    font-size: 13px;
}
.btn-circle {
    background: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    max-height: 35px;
    max-width: 35px;
    overflow: hidden;
    width: 35px;
}
.btn-circle:hover {
    border-color: #428bca;
}
.btn-circle.active {
    background: #428bca;
    border-color: #ddd;
}
.btn-circle label {
    cursor: pointer;
    display: block;
    font-weight: normal;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-circle.active label {
    color: white;
}
.btn-file {
    display: inline-block;
}
/**
 * Dropdowns
 */
.dropdown-menu a {
    background-color: #fff;
    font-size: 13px;
}
.dropdown-menu .divider {
    margin: 0;
}
.handle {
    cursor: pointer;
}

.nav-actions {
    padding: 10px 0;
}
.stretch-wrap {
    overflow-x: auto;
}
/**
 * Labels
 */
.label {
    display: inline-block;
    font-size: 100%;
}
/**
 * Forms
 */
textarea.form-control {
    max-width: 100%;
}
input[type=checkbox][data-label] {
    display: none;
}
.form-group .control-label {
    font-size: 14px;
}
.form-group.required .control-label:before {
    color: red;
    content: "*";
    font-size: 120%;
    margin-right: 2px;
}
/**
 * Tables
 */
.table.table-nofluid {
    min-width: 700px;
    width: auto;
}
.table > thead > tr > th, .table > tbody > tr > td {
    font-size: 13px;
    vertical-align: middle;
}
.table > thead:first-child > tr > th {
    border: 0;
}
.table thead tr.actions th {
    padding: 10px 0 15px;
}
.table > tfoot > tr > th {
    border-top: 2px solid #ddd;
}
.table th.cb, .table td.cb {
    width: 10px;
}
.table th.createdAt, .table td.createdAt {
    width: 137px;
}
.table th.actions, .table td.actions {
    width: 105px;
}
/**
 * Pagination
 */
tfoot .count {
    display: inline-block;
    font-weight: bold;
    margin: 10px;
    padding: 0;
}
tfoot .per-page {
    margin: 10px;
    width: auto;
}
tfoot .pagination {
    margin: 10px 0;
}
.modal .pagination {
    margin: 0;
}
.pagination > li > a, .pagination > li > span {
    color: #333;
    margin-left: 3px;
    z-index: 0 !important;
}
/**
 * Tabs
 */
.tab-pane {
    padding: 10px;
}
/**
 * Modals
 */
#modal-upload-files .modal-body {
    padding: 0;
    text-align: center;
}
#modal-upload-files .modal-body .btn {
    margin: 15px auto;
}
#modal-upload-files .modal-body .list-group {
    overflow-y: auto;
    margin: 0;
    max-height: 300px;
}
#modal-upload-files .modal-body .list-group-item {
    border-radius: 0;
    border-top: 1px solid #ddd;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#modal-upload-files .modal-body .btn-remove-file {
    padding: 8px 20px 0 0;
    position: absolute;
    right: 0px;
    top: 0;
}
#modal-add-tutorials .modal-body label {
    font-weight: normal;
}
#modal-add-tutorials .modal-body input {
    display: inline-block; 
    margin: 0 10px; 
    width: 70px;
}
#modal-find-users .modal-body {
    min-height: 150px;
}
#modal-find-users input[name=q] {
    float: left;
    margin-right: 10px;
    width: 80%;
}
#modal-find-users #btn-search {
    float: left;
}
#modal-find-users #search-results {
    clear: both;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}
#modal-find-users #search-results table {
    margin: 0;
}
#modal-find-users #search-results th, #modal-find-users #search-results td {
    padding: 8px 0;
}


.modal-preview-file .bootbox-body > * {
    display: block;
    margin: 0 auto;
}

/**
 * Tutorials page
 */
.tutorials-page th.number, .tutorials-page td.number {
    text-align: center;
    width: 80px;
}
.tutorials-page th.students, .tutorials-page td.students {
    text-align: center;
    width: 115px;
}
/**
 * Questions page
 */
.questions-page tr.pending td {
    background: #FFF9C4;
}
.questions-page th.sort, .questions-page td.sort {
    width: 10px;
}
.questions-page th.number, .questions-page td.number {
    width: 50px;
}
.questions-page th.type, .questions-page td.type {
    width: 120px;
}
.questions-page th.question, .questions-page td.question {
    min-width: 430px;
}
.questions-page td.question .question {
    margin-bottom: 10px;
    white-space: pre-wrap;
}
.questions-page td.question .tags {
    margin-bottom: 5px;
}
.questions-page td.question .tags .label-info {
    background-color: #E1ECF4;
    color: #39739d;
}
.questions-page th.tags, .questions-page td.tags {
    width: 105px;
}
.questions-page th.submitter, .questions-page td.submitter {
    width: 105px;
}
.questions-page th.votes, .questions-page td.votes {
    text-align: center;
    width: 80px;
}
.questions-page td.votes .score {
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;
}
.questions-page td.votes .up {
    color: green;
}
.questions-page td.votes .down {
    color: #A00;
}

/**
 * Question form page
 */
.question-page .col-xs-1 {
    max-width: 40px;
    padding-right: 0;
    text-align: right;
}
.question-page a.counter {
    margin-left: 10px;
}
.question-page pre code {
    min-height: 90px;
}


#modal-show-files .modal-body {
    max-height: 500px;
    padding: 0;
    overflow-y: scroll;
}
#modal-show-files .col-preview {
    border-right: 1px solid #ddd;
    padding: 15px;
    position: relative;
    right: -1px;
}
#modal-show-files .col-preview > * {
    display: block;
    margin: 0 auto;
}
#modal-show-files .col-files {
    border-left: 1px solid #ddd;
    padding: 0;
}
#modal-show-files .col-files .list-group {
    margin: 0; 
    padding: 0;
}
#modal-show-files .col-files .list-group-item {
    border-radius: 0;
    border-left: 0;
    overflow: hidden;
    width: 100%;
}
#modal-show-files .col-files .list-group-item:first-child {
    border-top: 0;
}
#modal-show-files .col-files .list-group-item.active a {
    color: #fff;
    text-decoration: underline;
}
#modal-show-files .col-files [type=checkbox] {
    margin-right: 10px;
}
#modal-show-files .modal-footer {
    position: relative;
    top: -1px;
}
#modal-show-links .form-group {
    margin-left: auto;
    margin-right: auto;
}

/**
 * Tutorials-Quizzes page
 */
.tutorials-quizzes-page th.tutorial, .tutorials-quizzes-page td.tutorial, 
.tutorials-quizzes-page th.published, .tutorials-quizzes-page td.published, 
.tutorials-quizzes-page th.active-1, .tutorials-quizzes-page td.active-1,
.tutorials-quizzes-page th.archived, .tutorials-quizzes-page td.archived {
    text-align: center;
}
/**
 * Groups tab
 */
#groups table {
    border-bottom: 1px solid #ddd;
}
#groups th {
    padding: 5px 0;
}
#groups td {
    border-top: 1px solid #ddd;
    height: 50px;
}
#groups tr:nth-child(even) td {
    background: #f0f0f0;
}
#groups td.student {
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 200px; 
}
#groups td.group {
    text-align: center;
    width: 50px; 
}
#groups .btn-circle:last-child {
    display: none;
}
@media (min-width: 768px) {
    .nav-actions {
        width: 700px;
    } 
    /* .table {
        min-width: 700px;
        width: auto;
    }
    .modal .table {
        min-width: auto;
        width: 100%;
    } */
}
/**
 * Responses page
 */
.responses-page #info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.responses-page #info li {
    display: inline;
}
.responses-page #info li.driver {
    font-weight: bold;
}
.responses-page #info li:after {
    content: ", ";
}
.responses-page #info li:last-child:after {
    content: "";
}


.responses-page .panel {
    background: #fff;
}
/* .responses-page .panel.panel-edit {
    background: #e0f5f7; 
} */
.responses-page .panel .panel-heading {
    background: inherit;
    border-bottom: 0;
    padding-bottom: 0;
}
.responses-page .panel .panel-body {
    padding-top: 10px;
}
.responses-page .panel .question {
    margin: 0 0 10px;
}
.responses-page .code {
    margin-bottom: 10px;
}
.responses-page .choices td {
    padding-left: 5px;
    padding-right: 5px;
}
.responses-page th.expected, .responses-page th.given, .responses-page td.expected, .responses-page td.given {
    text-align: center;
    width: 10%;
}
.responses-page th.correct, .responses-page td.correct {
    text-align: center;
    width: 5%;
}
.responses-page [data-type="short answer"] th {
    text-align: left;
    width: 10%;
}
.responses-page [data-type="short answer"] td {
    text-align: left;
    width: 90%;
}
.responses-page [data-type="code tracing"] th.expected, .responses-page [data-type="code tracing"] th.given {
    text-align: left;
    width: 45%;
}
.responses-page [data-type="code tracing"] th.attempts, .responses-page [data-type="code tracing"] td.attempts {
    text-align: center;
    width: 10%;
}
.responses-page [data-type="code tracing"] td.expected, .responses-page [data-type="code tracing"] td.given {
    background-color: #f5f5f5;
    padding: 0;
    text-align: left;
}
.responses-page [data-type="code tracing"] td pre {
    border: 0;
}
/* .responses-page code[contenteditable] {
    background: #DBF5FE;
} */


/* .responses-page .choices td.incorrect, 
.responses-page .choices td.incorrect pre {
    background-color: #ffeef0;
}
.responses-page .choices td.correct,
.responses-page .choices td.correct pre {
    background-color: #e6ffed;
}
.responses-page .choices td.line-number.incorrect {
    background-color: #ffdce0;
    border-color: #fdaeb7;
}
.responses-page .choices td.line-number.correct {
    background-color: #cdffd8;
    border-color: #bef5cb;
}*/



.responses-page .panel .panel-footer {
    background-color: inherit;
    border-top: 0;
    padding-top: 0;
    overflow: hidden;
}
.responses-page .panel .panel-footer .btn {
    float: right;
    margin-left: 7px;
}




/* .dim-wrap {
    position: relative;
}
.dim-wrap .dimmer {
    background: rgba(0,0,0,0.2);
    cursor: default;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10; 
}
.dim-wrap.on .dimmer {
    width: 100%;
} */