body {
    margin-bottom: 100px;
}
body > .navbar {
    border-radius: 0px;
}
/**
 * Alert
 */
.alert {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    overflow: hidden;
}
.alert ul {
    padding-left: 15px;
}
.alert li {
    font-weight: bold;
}
/**
 * Forms
 */
textarea.form-control {
    max-width: 100%;
}
input[type=checkbox][data-label] {
    display: none;
}
.form-group .control-label {
    font-size: 14px;
}
.form-group.required .control-label:before {
    color: red;
    content: "*";
    font-size: 120%;
    margin-right: 2px;
}
/**
 * Buttons
 */
.btn-default {
    font-size: 13px;
}
.btn-circle {
    background: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    max-height: 35px;
    max-width: 35px;
    overflow: hidden;
    width: 35px;
}
.btn-circle:hover {
    border-color: #428bca;
}
.btn-circle.active {
    background: #428bca;
    border-color: #ddd;
}
.btn-circle label {
    cursor: pointer;
    display: block;
    font-weight: normal;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-circle.active label {
    color: white;
}
.btn-file {
    display: inline-block;
}
.dim-wrap {
    position: relative;
}
.dim-wrap .dimmer {
    background: rgba(0,0,0,0.2);
    cursor: default;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10; 
}
.dim-wrap.on .dimmer {
    width: 100%;
}
/**
 * Dropdowns
 */
.dropdown-menu a {
    background-color: #fff;
    font-size: 13px;
}
.dropdown-menu .divider {
    margin: 0;
}
.handle {
    cursor: pointer;
}

.nav-actions {
    padding: 10px 0;
}
.stretch-wrap {
    overflow-x: auto;
}
/**
 * Breadcrumbs
 */
.breadcrumb > li {
    font-size: 12px;
}
/**
 * Tables
 */
.table > thead > tr > th, .table > tbody > tr > td {
    font-size: 13px;
}
.table > tfoot > tr > th {
    border-top: 2px solid #ddd;
}
.table th.actions, .table td.actions {
    width: 105px;
}
/**
 * Pagination
 */
tfoot .count {
    display: inline-block;
    font-weight: bold;
    margin: 10px;
    padding: 0;
}
tfoot .per-page {
    margin: 10px;
    width: auto;
}
tfoot .pagination {
    margin: 10px 0;
}
.modal .pagination {
    margin: 0;
}
.pagination > li > a, .pagination > li > span {
    color: #333;
    margin-left: 3px;
    z-index: 0 !important;
}
/**
 * Tabs
 */
.tab-pane {
    padding: 10px;
}
/**
 * Modals
 */
#modal-upload-files .modal-body {
    padding: 0;
    text-align: center;
}
#modal-upload-files .modal-body .btn {
    margin: 15px auto;
}
#modal-upload-files .modal-body .list-group {
    overflow-y: auto;
    margin: 0;
    max-height: 300px;
}
#modal-upload-files .modal-body .list-group-item {
    border-radius: 0;
    border-top: 1px solid #ddd;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#modal-upload-files .modal-body .btn-remove-file {
    padding: 8px 20px 0 0;
    position: absolute;
    right: 0px;
    top: 0;
}
#modal-add-tutorials .modal-body label {
    font-weight: normal;
}
#modal-add-tutorials .modal-body input {
    display: inline-block; 
    margin: 0 10px; 
    width: 70px;
}
#modal-find-users .modal-body {
    min-height: 150px;
}
#modal-find-users input[name=q] {
    float: left;
    margin-right: 10px;
    width: 80%;
}
#modal-find-users #btn-search {
    float: left;
}
#modal-find-users #search-results {
    clear: both;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}
#modal-find-users #search-results table {
    margin: 0;
}
#modal-find-users #search-results th, #modal-find-users #search-results td {
    padding: 8px 0;
}


.modal-preview-file .bootbox-body > * {
    display: block;
    margin: 0 auto;
}
/**
 * Question pages
 */
.questions .question {
    white-space: pre-wrap;
}
.questions .submitter, .questions .approval {
    text-transform: lowercase;
}
.questions .submitter {
    color: #007196;
    margin-top: 5px;
}
.questions .approval {
    color: #a00;
}
.question div[contenteditable] {
    background-color: #eff0f1;
    color: #000;
    font-family: Courier;
    height: auto;
    min-height: 90px;
    white-space: pre-wrap;
}
a.counter {
    margin-left: 10px;
}
#modal-show-files .modal-body {
    max-height: 500px;
    padding: 0;
    overflow-y: scroll;
}
#modal-show-files .col-preview {
    border-right: 1px solid #ddd;
    padding: 15px;
    position: relative;
    right: -1px;
}
#modal-show-files .col-preview > * {
    display: block;
    margin: 0 auto;
}
#modal-show-files .col-files {
    border-left: 1px solid #ddd;
    padding: 0;
}
#modal-show-files .col-files .list-group {
    margin: 0; 
    padding: 0;
}
#modal-show-files .col-files .list-group-item {
    border-radius: 0;
    border-left: 0;
    overflow: hidden;
    width: 100%;
}
#modal-show-files .col-files .list-group-item:first-child {
    border-top: 0;
}
#modal-show-files .col-files .list-group-item.active a {
    color: #fff;
    text-decoration: underline;
}
#modal-show-files .col-files [type=checkbox] {
    margin-right: 10px;
}
#modal-show-files .modal-footer {
    position: relative;
    top: -1px;
}
#modal-show-links .form-group {
    margin-left: auto;
    margin-right: auto;
}
/**
 * Groups
 */
#groups table {
    border-bottom: 1px solid #ddd;
}
#groups th {
    padding: 5px 0;
}
#groups td {
    border-top: 1px solid #ddd;
    height: 50px;
}
#groups tr:nth-child(even) td {
    background: #f0f0f0;
}
#groups td.student {
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 200px; 
}
#groups td.group {
    text-align: center;
    width: 50px; 
}
#groups .btn-circle:last-child {
    display: none;
}
@media (min-width: 768px) {
    .nav-actions {
        width: 700px;
    } 
    .table {
        min-width: 700px;
        width: auto;
    }
    .modal .table {
        min-width: auto;
        width: 100%;
    }
}
/**
 * Bootstrap Switch
 */
.bootstrap-switch-wrapper {
    
}