body {
    margin-bottom: 100px;
}
body > .navbar {
    border-radius: 0px;
}
textarea.form-control {
    max-width: 100%;
}

.stretch {
    overflow-x: auto;
}
.container > .table,
.container > .stretch .table {
    width: auto;
    min-width: 700px;
}

/* Find users styles */

#modal-find form {
    overflow: hidden;
}
#modal-find form * {
    float: left;
}
#modal-find form label {
    margin: 0;
    padding: 5px 0;
    width: 200px;
}
#modal-find form input[type=text] {
    margin-right: 10px;
    width: 300px;
}
#modal-find table {
    margin: 15px 0 0;

}
#modal-find th, #modal-find td {
    padding: 8px 0;
}

/* File listing styles */

.modal-upload-files .modal-body {
    padding: 0;
}
.modal-upload-files .modal-body .btn {
    margin: 15px auto;
    width: 95%;
}
.modal-upload-files .modal-body .list-group {
    margin: 0;
}
.modal-upload-files .modal-body .list-group-item {
    border-radius: 0;
    border-top: 1px solid #ddd;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.modal-upload-files .modal-body .btn-remove-file {
    padding: 8px 20px 0 0;
    position: absolute;
    right: 0px;
    top: 0;
}
.modal-preview-file .bootbox-body > * {
    display: block;
    margin: 0 auto;
}

/* Question form styles */

a.counter {
    margin-left: 10px;
}

#modal-show-files .modal-body {
    max-height: 500px;
    padding: 0;
    overflow-y: scroll;
}
#modal-show-files .col-preview {
    border-right: 1px solid #ddd;
    padding: 15px;
    position: relative;
    right: -1px;
}
#modal-show-files .col-preview > * {
    display: block;
    margin: 0 auto;
}
#modal-show-files .col-files {
    border-left: 1px solid #ddd;
    padding: 0;
}
#modal-show-files .col-files .list-group {
    margin: 0; 
    padding: 0;
}
#modal-show-files .col-files .list-group-item {
    border-radius: 0;
    border-left: 0;
    overflow: hidden;
    width: 100%;
}
#modal-show-files .col-files .list-group-item:first-child {
    border-top: 0;
}
#modal-show-files .col-files .list-group-item.active a {
    color: #fff;
    text-decoration: underline;
}
#modal-show-files .col-files [type=checkbox] {
    margin-right: 10px;
}
#modal-show-files .modal-footer {
    position: relative;
    top: -1px;
}
#modal-show-links .form-group {
    margin-left: auto;
    margin-right: auto;
}

/* Group listing styles */

.col {
    width: 180px;
}
.col > span {
    display: inline-block;
    width: 75px;
}

#table-quiz-groups {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-top: 10px;
}
#table-quiz-groups th, #table-quiz-groups td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 30px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}
#table-quiz-groups th.s, #table-quiz-groups td.s {
   width: 200px; 
}
#table-quiz-groups th.u, #table-quiz-groups td.u {
   width: 110px; 
}
#table-quiz-groups th.g, #table-quiz-groups td.g {
   width: 55px; 
}
#table-quiz-groups tr td:first-child {
    text-align: left;
}
#table-quiz-groups tbody td {
    padding: 0 5px;
}