.attachedImg{
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.choice {
  border: solid 2px grey;
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: grey;
  background: white;
  padding: 15px;

}

.centerText {
  text-align: center;
}

.extraLarge {
  font-weight: bold;
  font-size: 72px;
}

.currentlyChosen {
  background: #FF9933;
  border-color: #FF9933;
  color: white;
}

.previouslyChosen {
  color: #FF9933;
  border-color: #FF9933;
  
}

#activeQuiz{
  text-align: center;
}

#submitQuestion {
  margin: auto;
  margin-bottom: 15px;
  width: 100%;
  padding: 15px;
}

#submitQuestion:disabled {
  background: grey;
  border-color: grey;
}
