.row.flush-col > [class*="col-"] {
    padding: 0px;
}
body {
    margin-bottom: 100px;
}
body > .navbar {
    border-radius: 0px;
}
textarea.form-control {
    max-width: 100%;
}

#col-unassigned-students .sortable {
    background: #f9f9f9;
    min-height: 300px;
}
#col-groups .panel {
    position: relative;;
}
#col-groups .panel > .dropdown {
    top: 8px;
    position: absolute;
    right: 20px;
}
.ui-sortable-helper {
    cursor: pointer;
    display: table !important;
}
.ui-sortable-handle {
    margin-bottom: 5px;
}


.modal-upload-files .modal-body {
    padding: 0;
}
.modal-upload-files .modal-body .btn {
    margin: 15px auto;
    width: 95%;
}
.modal-upload-files .modal-body .list-group {
    margin: 0;
}
.modal-upload-files .modal-body .list-group-item {
    border-radius: 0;
    border-top: 1px solid #ddd;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.modal-upload-files .modal-body .btn-remove-file {
    padding: 8px 20px 0 0;
    position: absolute;
    right: 0px;
    top: 0;
}
.modal-preview-file .bootbox-body > * {
    display: block;
    margin: 0 auto;
}


#form-question a.counter {
    margin-left: 10px;
}

#modal-show-files .modal-body {
    max-height: 500px;
    padding: 0;
    overflow-y: scroll;
}
#modal-show-files .col-preview {
    border-right: 1px solid #ddd;
    padding: 15px;
    position: relative;
    right: -1px;
}
#modal-show-files .col-preview > * {
    display: block;
    margin: 0 auto;
}
#modal-show-files .col-files {
    border-left: 1px solid #ddd;
    padding: 0;
}
#modal-show-files .col-files .list-group {
    margin: 0; 
    padding: 0;
}
#modal-show-files .col-files .list-group-item {
    border-radius: 0;
    border-left: 0;
    overflow: hidden;
    width: 100%;
}
#modal-show-files .col-files .list-group-item:first-child {
    border-top: 0;
}
#modal-show-files .col-files .list-group-item.active a {
    color: #fff;
    text-decoration: underline;
}
#modal-show-files .col-files [type=checkbox] {
    margin-right: 10px;
}
#modal-show-files .modal-footer {
    position: relative;
    top: -1px;
}
#modal-show-links .form-group {
    margin-left: auto;
    margin-right: auto;
}

#form-quiz-groups {
    display: inline-block;
}
#form-quiz-groups table {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-top: 10px;
}
#form-quiz-groups th, #form-quiz-groups td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 30px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}
#form-quiz-groups th.s, #form-quiz-groups td.s {
   width: 200px; 
}
#form-quiz-groups th.u, #form-quiz-groups td.u {
   width: 110px; 
}
#form-quiz-groups th.g, #form-quiz-groups td.g {
   width: 55px; 
}
#form-quiz-groups tr td:first-child {
    text-align: left;
}
#form-quiz-groups tbody td {
    padding: 0 5px;
}