.row.flush-col > [class*="col-"] {
    padding: 0px;
}
body > .navbar {
    border-radius: 0px;
}

.todo {
    color: red;
}
#col-unassigned-students .sortable {
    background: #f9f9f9;
    min-height: 300px;
}
#col-groups .panel {
    position: relative;;
}
#col-groups .panel > .dropdown {
    top: 8px;
    position: absolute;
    right: 20px;
    z-index: 1000;
}
#col-groups .panel-heading {
    height: 45px;
}
#col-groups .panel-heading .panel-title {
    padding-top: 5px;
}
.ui-sortable-helper {
    cursor: pointer;
    display: table !important;
}
.ui-sortable-handle {
    margin-bottom: 5px;
}