.row.flush-col > [class*="col-"] {
    padding: 0px;
}
body > .navbar {
    border-radius: 0px;
}

.todo {
    color: red;
}
#col-unassigned-students .sortable {
    background: #f9f9f9;
    min-height: 300px;
}
#col-groups .panel-heading {
    overflow: hidden;
}
#col-groups .panel-heading .panel-title {
    float: left;
}
#col-groups .panel-heading .glyphicon-remove {
    cursor: pointer;
    float: right;    
}
.ui-sortable-helper {
    cursor: pointer;
    display: table !important;
}
.ui-sortable-handle {
    margin-bottom: 5px;
}