<div class="modal fade" id="modal-add-tutorials" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add tutorials</h4>
            </div>
            <form action="/admin/courses/<%= course._id %>/tutorials" method="post">
                <div class="modal-body">
                    <label>Add</label>
                    <input type="number" name="len" value="" min="1" max="99" class="form-control">
                    <label>tutorials starting from </label>
                    <input type="number" name="start" value="<%= course.tutorials.length + 1 %>" min="1" class="form-control">
                </div>
                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default btn-sm" data-dismiss="modal">
                    <input type="submit" value="Add" class="btn btn-primary btn-sm">
                </div>
            </form>
        </div>
    </div>
</div>