<div class="modal fade" id="modal-find-users" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Find students</h4>
            </div>
            <form action="/admin/courses/<%= course.id %>/students" method="post">
                <div class="modal-body">
                    <input type="text" name="q" value="" class="form-control input-sm" placeholder="Name, UTORid, student number, or leave blank">
                    <input type="button" value="Search" class="btn btn-default btn-sm" id="btn-search">
                    <div id="search-results"></div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default btn-sm" data-dismiss="modal">
                    <input type="submit" value="Update" class="btn btn-primary btn-sm">
                </div>
            </form>
        </div>
    </div>
</div>