<!-- import students modal -->
<div class="modal fade" id="modal-import-students" tabindex="-1" style="display: none;">
    <div class="modal-dialog" style="max-width: 500px">
        <div class="modal-content">
            <form action="/admin/courses/<%= course.id %>/students/import" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Import students using CSV file</h4>
                </div>
                <div class="modal-body">
                    <p>This import will add new students into the course and their tutorials.</p>
                    <p>The first row of the file <b>must</b> have the following cells (case-sensitive):<br>
                        <b>UTORid</b>, <b>First Name</b>, <b>Last Name</b>, and optionally, <b>Email</b>, <b>Password</b>, <b>Tutorial</b>.</p>
                    <p>If there are no tutorials matching the cell data, the student will not be added into a tutorial. Therefore, it is a good idea to <a href="/admin/courses/<%= course.id %>/tutorials" target="_blank">create the tutorials</a> before importing.</p>
                    <br>
                    <label class="control-label">Select the file (.csv)</label>&nbsp;&nbsp;
                    <label class="btn btn-default">
                        <input type="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none;">Browse
                    </label>
                    <span class="label label-info"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Import</button>
                </div>
            </form>
        </div>
    </div>
</div>