<% include ./header %>

<h3>Your Courses</h3>

<% if (!_.isEmpty(courses)) { %>
    <div class="list-group">
    <% _.each(courses, course => { %>
        <a href="/student/courses/<%= course._id %>/quizzes" class="list-group-item">
            <span class="code"><%= course.code %></span> -
            <span class="name"><%= course.name %></span>
        </a>
    <% }) %>
    </div>
<% } %>

<% include ./footer %>