<%- include ./header -%>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>


<div id = "hello"></div>
<div id = "hello2"></div>

<%- include ./body-js -%>
<script src="/socketioclient/socket.io.js"></script>
<script src="/js/start-quiz-bundle.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<%- include ./footer -%>
