<%- include ./header -%>
<link rel = "stylesheet" href = "/css/quiz.css" type="text/css" />
<div class="center-block">

   
   <div class = "centerText">
       
    <div id = "assignGroup">
        You are in group : <br/><h1 id = "groupName" class = "extraLarge"></h1>
      <br/>
      <p>
      Please find the other members of your group. When your TA activates the quiz, you will be able to select a driver and collaborate on your questions.
      </p>
      <hr/>
    </div>
  
    <div id = "driverSelect" style="display : none">
      This quiz requires a member of your group to serve as the driver, who will submit answers.
      <br/>
      <button class = "btn btn-primary col-md-4 col-sm-10 col-xs-10 col-md-offset-4 col-sm-offset-1 col-xs-offset-1" id = "selectDriverBtn" > I will be driver </button>
      <br/>
      <button class = "btn btn-danger col-md-4 col-sm-10 col-xs-10 col-md-offset-4 col-sm-offset-1 col-xs-offset-1" id = "deferDriverBtn" > I not be the driver </button>
    </div>
    
  </div>
  
  <br/>
  
  <div class= "row" id = "activeQuiz" style="display: none">
      <div class = "col-md-2 col-sm-12 col-xs-12">
        <div id = "questionSelect"></div>
      </div>

      <div class = "col-md-9 col-md-offset-1 col-sm-12 col-xs-12"> 
        <span>Score - <span id="currentScore"></span>
        <br/>
        <h3><div id = "text"></div></h3>
        <hr/>
        <div id = "attachment"></div>
        <div id = "choices"></div>
        <hr/>
        <button class = "btn btn-success quizBtn" disabled="true" id = "submitQuestion">Submit</button>
        <br/>
      </div>
  </div>
  
  <div class = "centerText" id = "postQuiz" style = "display: none">
    Score:<br/><span class="extraLarge" id = "score"></span>
    <br />
    <hr/>
    If you wish, you can award a teaching point to the member of your group
    who contributed the most during this quiz:
    <br/>
    <div id = "teachingPointsPicker"></div>
    
    
  </div>

</div>

<script src="/socketioclient/socket.io.js"></script>
<!--Sweetalert-->
<script src="/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="/sweetalert/dist/sweetalert.css">
<%- include ./footer -%>
<script src="/js/start-quiz.js"></script>

