<% include ./header %>

<h3><%= course.name + ' - TUT ' + tutorial.number %></h3>

<div class="list-group">
<% _.each(tutorialQuizzes, tutorialQuiz => { %>
    <a href="/student/courses/<%= course._id %>/quizzes/<%= tutorialQuiz._id %>/start" class="list-group-item"><%= tutorialQuiz.quiz.name %></a>
<% }) %>
</div>

<% include ./footer %>