<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width: 50%">Email</th>
            <th style="width: 85px"></th>
        </tr>
    </thead>
    <tbody>
    <% if (_.isEmpty(instructors)) { %>
        <tr>
            <td colspan="3">No instructors were found matching the given query.</td>
        </tr>
    <% } else { %>
        <% _.each(instructors, function (instructor) { %>
            <tr>
                <td><%= instructor.name.full %></td>
                <td><%= instructor.local.email %></td>
                <td>
                    <a href="/admin/courses/<%= course.id %>/instructors/<%= instructor.id %>"
                        class="btn btn-primary btn-sm"><span 
                        class="glyphicon glyphicon-plus"></span> Add</a>
                </td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>