<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center" style="width: 50px"><input type="checkbox" value="1"></th>
            <th>Name</th>
            <th style="width: 50%">Email</th>
        </tr>
    </thead>
    <tbody>
    <% if (_.isEmpty(teachingAssistants)) { %>
        <tr>
            <td colspan="3">No teaching assistants were found matching the given query.</td>
        </tr>
    <% } else { %>
        <% _.each(teachingAssistants, function (teachingAssistant) { %> 
            <tr>
                <td class="text-center"><input type="checkbox" name="teachingAssistants[]" value="<%= 
                    teachingAssistant.id %>"<%= course.hasTeachingAssistant(teachingAssistant.id) ? 
                        ' checked disabled' : '' %>></td>
                <td><%= teachingAssistant.name.full %></td>
                <td><%= teachingAssistant.local.email %></td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>