<table class="table table-hover">
    <thead>
        <tr>
            <th class="cb"><input type="checkbox" value="1"></th>
            <th>Name</th>
            <th style="width: 50%">Email</th>
        </tr>
    </thead>
    <tfoot>
        <tr><td colspan="3" class="clearfix"><% include pagination %></td></tr>
    </tfoot>
    <tbody>
    <% if (_.isEmpty(teachingAssistants)) { %>
        <tr><td colspan="3">No teaching assistants were found matching the given query.</td></tr>
    <% } else { %>
        <% _.each(teachingAssistants, teachingAssistant => { %> 
            <tr>
                <td class="cb"><input type="checkbox" name="users[]" value="<%= teachingAssistant._id %>"<%= course.hasTA(teachingAssistant._id) ? ' checked disabled' : '' %>></td>
                <td><%= teachingAssistant.name.full %></td>
                <td><%= teachingAssistant.local.email %></td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>