<% if (_.isObject(flash)) { %>
    <% _.forOwn(flash, (messages, type) => { %>
        <% _.each(messages, msg => { %>
            <div class="alert alert-<%= type !== 'error' ? type : 'danger' %> alert-dismissible"><a href="#" class="close" data-dismiss="alert">&times;</a><%- msg %></div>
        <% }) %>
    <% }) %>
<% } %>