<div class="modal fade" id="modal-find-users" tabindex="-1" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Find teaching assistants</h4>
            </div>
            <div class="modal-body">
                <form action="/admin/courses/<%= course._id %>/teaching-assistants/search">
                    <input type="text" name="q" value="" class="form-control input-sm" placeholder="Name, email, or leave blank" maxlength="20">
                    <input type="submit" value="Search" class="btn btn-default btn-sm">
                </form>
                <div id="search-results"></div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Cancel" class="btn btn-default btn-sm" data-dismiss="modal">
                <a href="/admin/courses/<%= course._id %>/teaching-assistants" class="btn btn-primary btn-sm" id="btn-add">Add</a>
            </div>
        </div>
    </div>
</div>