<div class="modal fade" id="modal-import-students" tabindex="-1" style="display:none">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Import students by CSV file</h4>
            </div>
            <form method="post" action="/admin/courses/<%= course.id %>/students/import" enctype="multipart/form-data">
                <div class="modal-body">
                    <p>
                        <span class="btn btn-default btn-file" onclick="file.click()" data-focus>
                            <input type="file" name="file" id="file" style="display: none;" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, 
                            application/vnd.ms-excel" onchange="window['file-label'].innerHTML = this.value">Choose file
                        </span>
                        <span class="label label-default" id="file-label">no file selected</span>
                    </p>
                    <p>Download a <a href="/img/samples/roster.csv">sample CSV template</a> to see an example of the format required.</p>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                    <input type="button" value="Upload" class="btn btn-primary btn-sm" onclick="this.form.submit()">
                </div>
            </form>
        </div>
    </div>
</div>