<div class="modal fade" id="modal-add-tutorials" tabindex="-1" style="display:none">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add tutorials</h4>
            </div>
            <form method="post" action="/admin/courses/<%= course._id %>/tutorials">
                <div class="modal-body">
                    <label>From </label>
                    <input type="number" name="start" value="" min="1" class="form-control">
                    <label>To </label>
                    <input type="number" name="end" value="" min="1" class="form-control">
                </div>
                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default btn-sm" data-dismiss="modal">
                    <input type="button" value="Add" class="btn btn-primary btn-sm" onclick="this.form.submit()">
                </div>
            </form>
        </div>
    </div>
</div>