<div class="modal fade" id="modal-find-users" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Find instructors</h4>
            </div>
            <form method="post" action="/admin/courses/<%= course.id %>/instructors">
                <div class="modal-body">
                    <input type="text" name="q" value="" class="form-control input-sm" placeholder="Name, email, or leave blank">
                    <input type="button" value="Search" class="btn btn-default btn-sm" id="btn-search" data-focus>
                    <div id="search-results"></div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default btn-sm" data-dismiss="modal">
                    <input type="button" value="Update" class="btn btn-primary btn-sm" onclick="this.form.submit()">
                </div>
            </form>
        </div>
    </div>
</div>